/* 通用样式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #f1c40f;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* 顶部栏样式 */
header {
    width: 100%;
    padding: 1rem;
    background-color: #333;
    color: #f1c40f;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 200px; /* 避开左侧边栏 */
    z-index: 1000;
}

/* 主体布局 */
.container {
    display: flex;
    flex-grow: 1;
    width: 100%;
    max-width: 1200px;
    margin: 6rem auto 0;
    padding-left: 200px;
    padding-bottom: 2rem;
}

/* 左侧导航栏样式 */
.sidebar {
    width: 200px;
    height: 100vh;
    padding: 1rem;
    background-color: #222;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
}

.sidebar button {
    background: #333;
    color: #f1c40f;
    border: none;
    padding: 1rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
    text-align: left;
}

.sidebar button:hover {
    background: #444;
}

/* 内容区样式 */
main {
    flex-grow: 1;
    padding: 1rem;
}

.content-section {
    display: none;
    margin-bottom: 3rem;
}

.content-section.active {
    display: block;
}

/* 增加资源板块标题与资源列表之间的距离 */
.content-section h2 {
    margin-bottom: 2rem;
}

/* 资源卡片样式 */
.resource-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.resource-card {
    background-color: #222;
    color: #f1c40f;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: left;
}

.icon {
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 0.5rem;
}

/* 下载按钮样式 */
.download-link {
    display: inline-block;
    padding: 0.6rem 1rem;
    margin-top: 1rem;
    background-color: #f1c40f;
    color: #222;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.download-link:hover {
    background-color: #333;
    color: #f1c40f;
}

/* 底部栏样式 */
footer {
    width: 100%;
    padding: 1rem;
    text-align: center;
    background-color: #333;
    color: #f1c40f;
    margin-top: auto;
    padding-left: 200px;
}
